.border-radius-0 {
  border-radius: 0 !important;
}

.list-group-item {
  word-wrap: break-word;
}

#todo-list .list-group-item > .check-item {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3.2rem;
}

#todo-list > .list-group-item > .delete-item {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3.2rem;
  cursor: pointer;
}

#todo-list > .list-group-item > .list-item-done {
  text-decoration: line-through;
}

.todo-entry > span {
  white-space: pre-wrap;
  word-wrap: break-word;
}

span .growl {
  cursor: pointer;
  margin: 0 -30px -10px;
  pointer-events: all;
}

.icon-muted {
  opacity: 0.3;
}

.icon-check,
.icon-delete {
  position: absolute;
  top: 0;
  bottom: 0;
}

.icon-delete {
  right: 1.25rem;
}

.icon-check .svg-inline--fa,
.icon-delete .svg-inline--fa {
  height: 100%;
}

.list-item-text {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
